.cell-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell {
  position: relative;
  border-radius: 50%;
}

.cell-shadow {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}